doctype html
html(lang='en')
    head
        title HR Service
        link(rel='stylesheet', href='/assets/style.css')
    body
        h6
        | This web application was created to fulfill
        | Web Technology module&rsquo;s requirements and does not represent an actual company or service
        hr
        
        block hr_service